@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "eudoxus-sans";
  src: url("../public/assets/fonts/eudoxus-sans-extra-bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "eudoxus-sans";
  src: url("../public/assets/fonts/eudoxus-sans-bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "eudoxus-sans";
  src: url("../public/assets/fonts/eudoxus-sans-medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "eudoxus-sans";
  src: url("../public/assets/fonts/eudoxus-sans-regular.ttf");
  font-display: swap;
}

* {
  font-family: "eudoxus-sans", sans-serif;
}
